{% extends "index.html" %}

{% block title %} Cash Receipt Book {% endblock %}

{% block head %}

<style>
    #header-fixed {
        position: fixed;
        top: 0px; display:none;
        background-color:white;
        width:100%;
    }

    #entry_table{
        margin-top: 8%;
        padding: 10px;
        box-shadow: 0px 0px 5px -2px;
        border-radius: 5px;
    }

    <!--th {-->
        <!--width:150px;-->
    <!--}-->

    <!--td {-->
        <!--&lt;!&ndash;border: 1px solid red;&ndash;&gt;-->
        <!--border: 1px solid #d81f1f;-->
    <!--}-->

    .button_right {
        width:100%;
        margin-bottom:2px;
    }

    #particulars {
        width:150px;
    }

    body {
        background-color:#fffff5;
    }
</style>


<script>

    $(document).ready(function() {
        $("#pickdate").datepicker();
    });


</script>

{% endblock %}

{% block body %}

<div id="main" style="padding: 0% 2%;" >

    <div class="row" style="padding-top: 5%;">

        <div class="row" style="padding: 0 2%;font-size:medium;">
            <div class="col-lg-6">
                Client Name: JUAN DELA CRUZ
            </div>
            <div class="col-lg-6" style="text-align:right;">
                Month of: JUNE 2018
            </div>
        </div>

        <div class="row" style="text-align:center;font-size:x-large;margin-bottom:1%;">
            CASH RECEIPT JOURNAL
        </div>
        <div class="row" style="text-align:center;">
            <button class="btn btn-primary" style="width:98%;margin-bottom:5px;" data-toggle="modal" data-target="#modal_acc">Add Entry</button>
        </div>

        <div class="col-lg-12" style="font-size:11px; background-color:#ececec; width:100%; overflow:scroll;height:400px;border: 2px solid gray;border-radius:5px;padding:1%;" id="xiao">
            <table class="table table-bordered table-hover" style="background-color:#f0fff0ba;" id="table-1">

                <thead style="text-align:center;font-weight:bold;border: 1px solid green">
                    <tr style="background-color:#76e676;" id="t_header">
                        <td></td>
                        <td>Date</td>
                        <td id="particulars">Particulars</td>
                        <td>Schedule</td>
                        <td>Doc#</td>
                        <td>Cash</td>
                        <td>A/P</td>
                        <td>VAT Rev.</td>
                        <td>Gross Rev.</td>
                        <td>VAT Out</td>

                    </tr>
                    <tr id="entry_type">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>DR</td>
                        <td colspan="4">CR</td>
                    </tr>
                </thead>
                <tbody id="entry">
                    {% for x in range(10) %}
                    <tr id="1">
                        <td>
                            <button class="btn btn-warning">
                                <span class="glyphicon glyphicon-edit"></span>
                            </button>
                        </td>
                        <td>6-12-18</td>
                        <td>Juan Dela Cruz</td>
                        <td>item</td>
                        <td>143</td>
                        <td>1700</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>

            </table>

            <table class="table table-hover" id="header-fixed"></table>
        </div>
        <!--<div class="col-lg-2" style="width:10%;padding: 0% 2%;">-->
            <!--<div class="row">-->
                <!--<button class="btn btn-primary button_right" id="add_entry" style="height:50px;font-weight:bold;">-->
                    <!--ADD ENTRY-->
                <!--</button>-->
            <!--</div>-->
            <!--<div class="row">-->
                <!--<button id="add_account_modal" class="btn btn-primary button_right" data-toggle="modal" data-target="#modal_acc">-->
                    <!--Add account-->
                <!--</button>-->
            <!--</div>-->
        <!--</div>-->

    </div>

    <div class="row" style="margin-top:2%;">
        <div class="panel panel-success" style="border:1px solid dimgrey;">
            <div class="panel-heading" style="background-color:#868888;color:white;">
                SUMMARY
            </div>
            <div class="panel-body">
                ffff
            </div>
            <div class="panel-footer">
                zzzz
            </div>
        </div>
    </div>
</div>


<div class="container">
  <!-- MODAL -->
  <div class="modal fade" id="modal_acc" role="dialog">
     <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Entry</h4>
        </div>
        <div class="modal-body">

            <div class="row">
                <div class="col-lg-4">
                    <input  type="text" id="pickdate">
                </div>
                <div class="col-lg-4">
                    <label for="or">Doc#</label>
                    <input type="text" id="or" placeholder="OR#" class="form-control">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    <div class="row">
                        <input type="text" placeholder="Sold to:" class="form-control">
                    </div>
                    <div class="row">
                        <input type="text" placeholder="Particulars" class="form-control">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="row">Cash</div>
                    <div class="row">
                        <input type="text" class="form-control">
                    </div>
                </div>
            </div>

        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-success" data-dismiss="modal" id="add_account" style="width:100%;">ADD</button>
        </div>

      </div>
    </div>
  </div>
</div>



{% endblock %}