<form method="POST" id="account_payable" style="display:unset;">
    {{account_form[0].csrf_token}}

    <!--hidden values-->
    {{account_form[0].client_id(value=1, style="display:none;")}}
    {{account_form[0].account_id(value=5, style="display:none;")}}

    <div class="modal-body" id="entry_form">
        <div class="row">
            <div class="col-lg-2">
                {{account_form[0].date.label(for="pickdate")}}
                {{account_form[0].date(type="text", id="pickdate", class="form-control", placeholder="MM/DD/YYYY")}}
            </div>
            <div class="col-lg-2">
                {{account_form[0].schedule.label(for="pickdate2")}}
                {{account_form[0].schedule(type="text", id="pickdate2", class="form-control", placeholder="MM/DD/YYYY")}}
            </div>
            <div class="col-lg-2">
                {{account_form[0].or_number.label(for="orxxx")}}
                {{account_form[0].or_number(type="number", id="orxxx", class="form-control", placeholder="OR#")}}
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8">
                <div class="row">
                    {{account_form[0].sold_to(type="text", class="form-control", placeholder="Sold to:", style="margin: 1% auto;width:95%;")}}
                </div>
                <div class="row">
                    {{account_form[0].particulars(type="text", placeholder="Particulars", style="margin: 1% auto;width:95%;", class="form-control")}}
                </div>
            </div>
            <div class="col-lg-4">
                <div class="row" style="text-align:center;">
                    {{account_form[0].cash.label(for="cashxxx")}}
                    {{account_form[0].cash(type="number", id="cashxxx", placeholder="Php 0.00 ", style="margin: 1% auto; width:95%;", class="form-control")}}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer" id="entry_form_footer">
      <!--<button type="submit" class="btn btn-success" data-dismiss="modal" id="add_account" style="width:100%;height:50px">ADD</button>-->
       {{account_form[0].submit(class="btn btn-success", id="add_accountxxx", style="width:100%;height:50px;")}}
    </div>

    <script>
        $(document).ready(function() {
            $("#pickdate").datepicker({ dateFormat: 'mm-dd-yy' }).val();
            $("#pickdate2").datepicker({ dateFormat: 'mm-dd-yy' }).val();
        });
    </script>
</form>