    <form method="POST" id="testform" style="display:none;">
        {{account_form[1].csrf_token}}
        <div class="modal-body" id="entry_form">
            <div class="row">
                <div class="col-lg-3">
                    {{account_form[1].name(type="text", class="form-control")}}
                </div>
                <div class="col-lg-3">
                    {{account_form[1].client_id(type="number",class="form-control")}}
                </div>
            </div>
        </div>

        <div class="modal-footer" id="entry_form_footer">
          <!--<button type="submit" class="btn btn-success" data-dismiss="modal" id="add_account" style="width:100%;height:50px">ADD</button>-->
           {{account_form[1].submit(class="btn btn-success", id="idk2", style="width:100%;height:50px;")}}
        </div>
    </form>